Source: nixnote2
Section: utils
Priority: optional
Maintainer: Robert Spiegel <nightingale7@gmail.com>
Build-Depends:
 debhelper (>= 9),
 default-jdk,
 javahelper,
 pkg-config,
 libboost-dev,
 libcurl4-openssl-dev | libcurl-dev | libcurl4-nss-dev | libcurl4-gnutls-dev,
 libhunspell-dev,
 libpoppler-qt6-dev,
 libqt6sql6-sqlite,
 libtidy-dev,
 qt6-base-dev,
 qt6-base-dev-tools,
 qt6-declarative-dev,
 qt6-tools-dev-tools,
 qt6-webchannel-dev,
 qt6-webengine-dev,
 git
Standards-Version: 3.9.8
Homepage: https://github.com/robert7/nixnote2

Package: nixnote2
Architecture: any
Depends:
 libqt6sql6-sqlite,
 ${java:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 mimetex,
 ${java:Recommends},
Suggests:
 cups,
Description: Open Source Evernote desktop client
 Nixnote is Evernote desktop client for Linux.
 It will allow synchronization and editing of notes from your local system.
 .
 Once known as "NeverNote", this software was rewritten in C++/Qt to
 provide a native user experience.
